<?php /** @var \Koduliising\Liisi\Block\Payment\Start $block */ ?>
<form method="POST" id="payment-redirect-form" action="<?php echo $block->getFormActionUrl(); ?>">
    <?php foreach ($block->getFormFields() as $field => $value): ?>
        <input type="hidden" name="<?php echo $field; ?>" value="<?php echo $value; ?>">
    <?php endforeach; ?>
</form>

<script>
    (function () {
        document.getElementById('payment-redirect-form').submit();
    })();
</script>
